
@{
    ViewData["Title"] = "Index";
}

<div class="jumbotron">
    <h1 class="display-4">Bienvenido aplicación de Usuarios</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" role="button" asp-controller="Account" asp-action="Login">
        Iniciar sesión
        </a>
    </p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut nulla ac metus rhoncus pulvinar vitae eu diam. Sed leo est, pretium non quam eu, tincidunt fringilla leo. Curabitur consectetur, erat id convallis ultricies, lorem felis efficitur velit, in venenatis magna ante sit amet nisi. Cras dolor urna, consectetur at convallis eu, venenatis a nunc. Fusce tincidunt ac ligula at fringilla. In mollis ante et dignissim mollis. Vestibulum nec venenatis metus. Praesent ultricies est eget turpis sodales, vitae tincidunt sapien pharetra. Aliquam erat volutpat. Praesent id congue ex. Cras venenatis sapien vel purus pretium, in malesuada mauris malesuada. Praesent at dignissim lectus.
        </div>
        <div class="col-sm">
            Sed lobortis commodo vulputate. Integer et suscipit lacus. Fusce pretium sit amet arcu non efficitur. Proin malesuada placerat erat et malesuada. Pellentesque ac urna id diam lobortis rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at varius neque. Ut elementum ornare posuere. Cras porta est commodo est feugiat, sit amet rutrum nulla mattis. Etiam dignissim sem lacus, vel sollicitudin nibh facilisis at. Vivamus congue blandit leo, ut hendrerit turpis iaculis ac.
        </div>
        <div class="col-sm">
            Vivamus vitae erat finibus, molestie urna sed, ultrices justo. Donec vitae elit enim. Etiam nisi sapien, dignissim ac consequat ut, tincidunt nec est. Ut eu lacus porta eros faucibus feugiat sed a magna. Sed facilisis vitae lorem ac bibendum. Vestibulum pellentesque justo a eros luctus interdum. Proin at lectus vestibulum, consectetur sapien quis, molestie tortor. Sed faucibus, nisi vitae egestas vulputate, libero odio pulvinar ex, eu vehicula odio arcu in risus. Sed vel tellus risus.
        </div>
    </div>
</div>